@import 'semantic-ui';

.chatbox {
  height: 450px;
}

.login_button {
  width: 80px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}

.link-to-text-color {
  color: #fff;
}

a.link-to-text-color {
  color: #fff;
}
